@charset "UTF-8";

/* Y이드스트릿체 */
@font-face {
    font-family: 'YdestreetB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/YdestreetB.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
}
/* 전체 div태그  */
#container{
    height:100%;
}



*:focus{  outline: none;  } 

/*------------------   헤더   -----------------------*/

/* 전기차에 대해 알려줄게 글씨 */
#containerTitle{
	margin: 0 auto;
	width: 100%;   
    height: 94px;
    font-family: "YdestreetB";
    font-size: 40px;
    background-color: #1c1b1b;
    color: white;
}

#TitleLeft{
	color: white; 
	float: left;
	margin: 0 0 0 10px;
	padding: 20px 180px ;
}
#TitleLeft a:hover , #TitleLeft a:link,  #TitleLeft a:active, #TitleLeft a:visited {
	text-decoration: none;
	color: white;
}
/* 로그인 | 회원가입 | Q&A페이지 */
#TitleRight{
	color: white;
	float:right;
	margin: 10px 170px 0 0;	
	padding: 20px;
	font-size: 30px;

}
/* 로그인 | 회원가입 | Q&A페이지 링크 설정 */
#TitleRight a:hover , #TitleRight a:link,  #TitleRight a:active, #TitleRight a:visited {
	text-decoration: none;
	color: white;
}

/*------------------   본문   -----------------------*/


.wapper{
	width: 100%;
	padding-top: 300px;
	padding-bottom: 300px;
    margin:  0 auto;
}

.main_box{ 
	border: solid 1px #cccccc;
	padding-top: 20px;
	width: 640px;
	height: 500px;
	margin : 0 auto; }
	
	
.picto {
	
display :block;
margin : 0 auto;
height: 200px;  
 width: 200px;

 }
	

.login_input{
	float: center;
	display: block;
	width: 500px;
	height : 48px;
	padding: 0px ;
	border: solid 1px #cccccc;
	background-color: #ffffff;
	margin : 0 auto;
	margin-bottom: 20px;
	}



#login_id, #login_pw{
    margin : 10px 5px 5px 10px;
	width: 400px;	/* 가로길이 */
	height: 30px;	/* 높이길이 */
	border: none; /*테두리 제거 */

	
}

.box_1 { margin-bottom: 20px;
	
}

.box_2{  display :block;
         float: left; 
         margin-left: 70px;
      
         }



#login_btn {
	
	border-radius: 40px;
	display: block;
	margin : 0 auto;
	width: 500px;
	height : 48px;
	background-color: gray;
	border: none;
	color: white;
}

.seek_box { 
	text-align: center;
	padding-top: 20px;
	margin-left: 50px;  }

.seek{  
	    margin : 0 auto;
	    text-align:center; 
	    color: black;
       }


*{border: solid 1px blue;}


/*------------------  하단  -----------------------*/


/* footer  */
footer{
	width:100%;
	height: 200px;
	color:white;
    background-color: #1c1b1b;
}
/* GitLink*/
.gitLink{
	font-family: 'YdestreetB';
	font-size:30px;
	color: white;
}
.gitLink:hover, .gitLink:link , .gitLink:active , .gitLink:visited{
	text-decoration: none;
}


/* footerURL  */
#footerURL{
	text-align:center;
	padding-top: 60px;
<<<<<<< HEAD
}

=======

}
>>>>>>> refs/remotes/origin/project_car_sub2

