@charset "EUC-KR";

body{
	background-color: #d9d9d9;
	
}


/*------------------헤더----------------------*/

* {
    font-family: 'YdestreetB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/YdestreetB.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    margin: 0;
     
}

/* 자동차에 대해 알려줄게 글씨 */
#containerTitle{
	margin: 0 auto;
	width: 100%;   
    height: 94px;
    font-family: "YdestreetB";
    font-weight: bold;
    font-size: 40px;
    background-color: #1c1b1b;
    color: white; 
}

#TitleLeft{
	color: white; 
	float: left;
	margin: 0 0 0 10px;
	padding: 20px 180px ;
	font-weight: bold;
}
#TitleLeft a:hover , #TitleLeft a:link,  #TitleLeft a:active, #TitleLeft a:visited {
	text-decoration: none;
	color: white;
}
/* 로그인 | 회원가입 | Q&A페이지 */
#TitleRight{
	color: white;
	float:right;
	margin: 10px 170px 0 0;
	padding: 20px;
	font-size: 30px;
	font-family: 'YdestreetB';
	font-weight: bold;
}
/* 로그인 | 회원가입 | Q&A페이지 링크 설정 */
#TitleRight a:hover , #TitleRight a:link,  #TitleRight a:active, #TitleRight a:visited {
	text-decoration: none;
	color: white;
}



/* ----------------------container-------------------*/


#container{
	width: 100%;
	height: 100%;
	 overflow-x: hidden;
}
	
	
.car_comment1{
	position: relative;
	left:10px;
	font-size:30px;
	font-weight:bold;
	overflow-y: hidden;
}

.car_comment2{
	position: relative;
	left:-32px;
	font-size:30px;
	font-weight:bold;
	overflow-y: hidden;	
}

.car_comment3{
	position: relative;
	left:120px;
	font-size:30px;
	font-weight:bold;
	overflow-y: hidden;	
}

.car_comment4{
	position: relative;
	left:-85px;
	font-size:30px;
	font-weight:bold;
	overflow-y: hidden;	
}

.car_comment5{
	position: relative;
	left:10px;
	font-size:40px;
	font-weight:bold;	
	margin: 20px 0;
	overflow-y: hidden;
}

.car_Information{
	text-align: center;
	height: 200px;
	width: 100%;
	font-size:30;
	display: inline-block;
	padding: 0;
}

.car_name{
	font-size: 50px;
   font-weight: bold;
   margin-right:500px;
   overflow-y: hidden;
}

.imgbox {
	width: 100%;
	height: 600px;
}

.imgbox img{
	width: 45%;
	height: 600px;
	float: left;
}

#car_content{
  text-align: center;
  margin: 10px 0;
  font-size: 30px;
  overflow-y: hidden;
  display: inline-block;
  width: 650px;
  height: 600px;
  
}    



/* footer  */
footer{
	width:100%;
	height: 200px;
	color:white;
    background-color: #1c1b1b;
    
}
/* GitLink*/
.gitLink{
	font-family: 'YdestreetB';
	font-size:20px;
	color: white;
}
.gitLink:hover, .gitLink:link , .gitLink:active , .gitLink:visited{
	text-decoration: none;
}



/* footerURL  */
#footerURL{
	text-align:center;
	padding-top: 70px;
}