@charset "UTF-8";
*{ padding: 0; margin: 0;  }
a{ text-decoration: none; color: black }

@font-face {
    font-family: 'YdestreetB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/YdestreetB.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* 전체 */
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
/* 전체 div태그  */
#container{
    height:100%;
}

/* 자동차에 대해 알려줄게 글씨 */
#containerTitle{
    font-family: "YdestreetB";
    font-size: 40px;
}

#TitleLeft{
	float: left;
	padding: 20px 0 20px 190px ; 
}
#TitleLeft a:hover , #TitleLeft a:link,  #TitleLeft a:active, #TitleLeft a:visited {
	text-decoration: none;
	color: black;
}
/* 로그인 | 회원가입 | Q&A페이지 */
#TitleRight{
	float: right;
	padding-right:30px;
	padding: 20px 190px 20px 0 ;
}
/* 로그인 | 회원가입 | Q&A페이지 링크 설정 */
#TitleRight a:hover , #TitleRight a:link,  #TitleRight a:active, #TitleRight a:visited {
	text-decoration: none;
	color: black;
}

#top_menu{
	clear: both;
	float: right;
}

.sub_menu{ text-align: right; margin-top: 20px;}
.sub_menu li {display: inline; margin-left: 80px; font-size: 40px;}

#container{
	clear: both;

}



.mid_kia{
	display: flex;
	font-size: 30px;
}

.kia{
	
text-align: center;
}
.kia_img{
	width: 700px;
	
}
