@charset "UTF-8";
/* Y이드스트릿체 */
@font-face {
    font-family: 'YdestreetB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/YdestreetB.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* 전체 */
*{
    margin: 0;
    padding: 0;
    list-style: none;
}














/* 전기차에 대해 알려줄게 글씨 */
#containerTitle{
	margin: 0 auto;
	width: 100%;   
    height: 94px;
    font-family: "YdestreetB";
    font-size: 40px;
    background-color: #1c1b1b;
    color: white;
}

#TitleLeft{
	color: white; 
	float: left;
	margin: 0 0 0 10px;
	padding: 20px 180px ;
}
#TitleLeft a:hover , #TitleLeft a:link,  #TitleLeft a:active, #TitleLeft a:visited {
	text-decoration: none;
	color: white;
}
/* 로그인 | 회원가입 | Q&A페이지 */
#TitleRight{
	color: white;
	float:right;
	margin: 10px 170px 0 0;	
	padding: 20px;
	font-size: 30px;

}
/* 로그인 | 회원가입 | Q&A페이지 링크 설정 시작*/
#TitleRight a:hover , #TitleRight a:link,  #TitleRight a:active, #TitleRight a:visited {
	text-decoration: none;
	color: white;
}
/* 로그인 | 회원가입 | Q&A페이지 링크 설정 끝*/



h1{
	text-align: center;
	font-size: 50px;
}
.main_box{
	display: flex;}
p{
	margin: 0 auto;
	padding: 20px;
	font-size: 30px;
}
.main_img{
	width: 600px;
	padding: 40px;
}



.bt_box{
	display: flex;	
	justify-content: space-between;
	align-items: center;		
}
.bot_box{
	display: flex;	
	justify-content: space-between;
	align-items: center;
}


form{
	width: 700px ; /*가로길이*/
	margin: auto; /*가로 가운데 정렬*/
}

table{
	width: 700px ;
	border-top: solid 1px black; /*위 테두리*/
}



/* footer  */
footer{
	clear: left;
	margin: 100px 0 0 0 ;
	width:100%;
	height: 200px;
	color:white;
    background-color: #1c1b1b;
}
/* GitLink*/
.gitLink{
	font-family: 'YdestreetB';
	font-size:30px;
	color: white;
}
.gitLink:hover, .gitLink:link , .gitLink:active , .gitLink:visited{
	text-decoration: none;
}



/* footerURL  */
#footerURL{
	text-align:center;
	padding-top: 60px;
	overflow-y: hidden
}