@charset "UTF-8";





.container{
	overflow: auto;
	scroll-snap-type : y mandatory;
	height :100vh;
}
section{
	scroll-snap-align : start;
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: white;
}


.menu_1{
	background-image: url("img/기아차1.흰색.png");
	text-align: flex;
	padding-top: 10vh;
	font-size: 100px;
	
}
.menu_2{
	background-image: url("img/기아캠핑.png");
	text-align: flex;
	align-items : center;
	
}

.menu_3{
	background-image: url("img/기아밤길.png");
	
	align-items : center;
	
}

