@charset "UTF-8";

/* Y이드스트릿체 */
@font-face {
    font-family: 'YdestreetB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/YdestreetB.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}






* {
    font-family: 'YdestreetB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/YdestreetB.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    margin: 0;
    padding: 0;
    
    
}

body{
	background-color: #d9d9d9;
}

#container{
	width: 100%;
	height: 100%;
}





/* 자동차에 대해 알려줄게 글씨 */
#containerTitle{
	margin: 0 auto;
	width: 100%;   
    height: 94px;
    font-family: "YdestreetB";
    font-size: 40px;
    background-color: #1c1b1b;
    color: white;
}

#TitleLeft{
	color: white; 
	float: left;
	margin: 0 0 0 10px;
	padding: 20px 180px ;
}
#TitleLeft a:hover , #TitleLeft a:link,  #TitleLeft a:active, #TitleLeft a:visited {
	text-decoration: none;
	color: white;
}
/* 로그인 | 회원가입 | Q&A페이지 */
#TitleRight{
	color: white;
	float:right;
	margin: 0 170px 10px 0;	
	padding: 20px;

}
/* 로그인 | 회원가입 | Q&A페이지 링크 설정 */
#TitleRight a:hover , #TitleRight a:link,  #TitleRight a:active, #TitleRight a:visited {
	text-decoration: none;
	color: white;
}


























#headerbox{
	width: 100%;
	height: 150px;
	
}
	

.title{
	font-size: 60px;
	width: 100%;
	height: 150px;
	font-weight: bold;
}
	
	
.logo_name{
	display:flex;
	font-size: 35px;
	width: 35%;
	height: 150px;
	margin-left: 30px;
	justify-content: center;
}

.logo_name a{
	margin: 15px;	
	font-weight: bold;
}   

/* ------------------------ 헤더 -----------------------*/

.car_Information{
	text-align: center;
	height: 200px;
	width: 100%;
	font-size:60px;
	
	font-weight: bold;
	margin-top: 50px;
}
.imgbox{
	position: relative;
	
}
.imgbox img{
	width: 100%;
	height: 700px;
	margin: 50px;
}




.imgs{
	width: 65%;
	
	height: 850px;
}

.carspec {
	font-size: 30px;
	text-align:left;
	float:right;
	width:100%;
	
	height: 850px;
	line-height: 1.5;
	margin: 10px;
	
}	




.car_text{
	float: right;
	text-align: center;
	height: 850px;
	width: 500px;
	line-height: 2;
	border: 3px solid black;
}
	
	


.carspec2{
	font-size: 30px;
	text-align:left;
	float:right;
	width:100%;
	
	height: 850px;
	line-height: 2;
	margin: 10px;
	
	
}

.car_text2{
	float: right;
	text-align: center;
	height: 850px;
	width: 500px;
	line-height: 2;
	border: 3px solid black;
	font-family: 'YdestreetB';
	font-weight: bold;
}
.imgbox2{
	position: absolute;
	margin: 10px;

}
.imgs2{
	width: 100%;
	height: 700px;
}

/* footer  */
footer{
	width:100%;
	height: 200px;
	color:white;
    background-color: #1c1b1b;
}
/* GitLink*/
.gitLink{
	font-family: 'YdestreetB';
	font-size:30px;
	color: white;
}
.gitLink:hover, .gitLink:link , .gitLink:active , .gitLink:visited{
	text-decoration: none;
}



/* footerURL  */
#footerURL{
	text-align:center;
	padding-top: 60px;
}