@charset "UTF-8";

body{
	background-color: #d9d9d9;
	
}


/*------------------헤더----------------------*/

* {
    font-family: 'YdestreetB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/YdestreetB.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    margin: 0;
}

#headerbox{
	width: 100%;
	height: 150px;
	display:flex;
}
	

.title{
	font-size: 60px;
	width: 100%;
	height: 150px;
	font-weight: bold;
}
	
	
.logo_name{
	display:flex;
	font-size: 35px;
	width: 35%;
	height: 150px;
	margin-left: 30px;
	justify-content: center;
}

.logo_name a{
	margin: 15px;	
	font-weight: bold;
}   



/* ----------------------container-------------------*/

#container{
	width: 100%;
	height: 700px;
}


.car_Information{
	text-align: center;
	height: 200px;
	width: 100%;
	font-size:20px;
}


.car_name{
	text-align: center;
	width: 100%;
	height: 200px;
	font-size: 50px;
	font-weight: bold;
	margin-top:150px;
}
	
img{
	width: 45%;
	height: 600px;
}
.car_comment{
	display:flex;
	width: 50%;
	height: 600px;
	float: right;
	font-size: 40px;
	font-weight: bold;
	text-align: left;
	padding: 10px;
	line-height: 1.5;
	
}
	
.car_Information{
	margin-bottom:10px;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	padding-bottom: 10px;
	line-height: 2;
	
}
.car_name2{
	text-align: center;
	width: 100%;
	height: 200px;
	font-size: 50px;
	margin-top: 50px;
	font-weight: bold;
	
}
	

.car_comment2{
	display:flex;
	width: 50%;
	height: 600px;
	float: right;
	font-size: 40px;
	font-weight: bold;
	text-align: left;
	padding: 10px;
}
	




























	