@charset "UTF-8";
/* Y이드스트릿체 */
@font-face {
    font-family: 'YdestreetB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/YdestreetB.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/*  전체 */
* {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow-x: hidden;
	font-family: 'YdestreetB';
}
/* 바디  */
body{
   background-color: #d9d9d9;
   
}
/* ----------------------container-------------------*/
/* div 에서 container */
#container{
   width: 100%;
   height: 100%;
}


/*------------------헤더----------------------*/

/* 전기차에 대해 알려줄게 글씨 */
#containerTitle{
	margin: 0 auto;
	width: 100%;   
    height: 94px;
    font-family: "YdestreetB";
    font-size: 40px;
    background-color: #1c1b1b;
    color: white;
}

#TitleLeft{
	color: white; 
	float: left;
	margin: 0 0 0 10px;
	padding: 20px 180px ;
}
#TitleLeft a:hover , #TitleLeft a:link,  #TitleLeft a:active, #TitleLeft a:visited {
	text-decoration: none;
	color: white;
}
/* 로그인 | 회원가입 | Q&A페이지 */
#TitleRight{
	color: white;
	float:right;
	margin: 10px 170px 0 0;	
	padding: 20px;
	font-size: 30px;

}
/* 로그인 | 회원가입 | Q&A페이지 링크 설정 시작*/
#TitleRight a:hover , #TitleRight a:link,  #TitleRight a:active, #TitleRight a:visited {
	text-decoration: none;
	color: white;
}
/* 로그인 | 회원가입 | Q&A페이지 링크 설정 끝*/

/*car_Information  상위 컴포넌트 시작 */
#car_Information{
   text-align: center;
   width: 100%;
   font-size:20px;
   margin: 20px 0 20px 0;
   line-height: 2;
}
/*car_Information 상위 컴포넌트 끝 */


/* 차 설명 1~5 시작 */


#explain1{
	position: relative;
	left:10px;
	font-size:30px;
	font-weight:bold;
	overflow-y: hidden;
	line-height: 2;
}
#explain2{
	position: relative;
	left:-32px;
	font-size:30px;
	font-weight:bold;
	overflow-y: hidden;	
	line-height: 2;
}
#explain3{
	position: relative;
	left:120px;
	font-size:30px;
	font-weight:bold;
	overflow-y: hidden;	
	line-height: 2;
}
#explain4{
	position: relative;
	left:-125px;
	font-size:30px;
	font-weight:bold;
	overflow-y: hidden;	
	line-height: 2;
}
#explain5{
	position: relative;
	left:10px;
	font-size:40px;
	font-weight:bold;	
	margin: 20px 0;
	overflow-y: hidden;
	line-height: 2;
}
/* 차 설명 1~5 끝  */













/* 차 이름 시작  */
.car_name{
   font-size: 50px;
   font-weight: bold;
   margin-left:200px;
   overflow-y: hidden;
}
/* 차 이름 끝  */   
img{
   width: 45%;
   height: 600px;
}
/* 차량 소개코멘트 시작  */
#car_comment{
   width: 50%;
   height: 600px;
   float: right;
   font-size: 30px;
   font-weight: bold;
   text-align: left;
   line-height: 1.8;
   margin: 0 60px 0 0 ;
   
}
/* 차량 소개코멘트 시작  */  

/* CarTitle 차 명언 제목 시작 */
 #CarTitle{
  text-align: center;
  margin: 10px 0;
  font-size: 35px;
  overflow-y: hidden;
}    
/* CarTitle 차 명언 제목 끝  */

   
   
   
   
   
   
   
   
   
   
   
   
   
/* footer  */
footer{
	clear: left;
	margin: 100px 0 0 0 ;
	width:100%;
	height: 200px;
	color:white;
    background-color: #1c1b1b;
}
/* GitLink*/
.gitLink{
	font-family: 'YdestreetB';
	font-size:30px;
	color: white;
}
.gitLink:hover, .gitLink:link , .gitLink:active , .gitLink:visited{
	text-decoration: none;
}



/* footerURL  */
#footerURL{
	text-align:center;
	padding-top: 60px;
	overflow-y: hidden
}
























	