
@charset "UTF-8";

/* Y이드스트릿체 */
@font-face {
    font-family: 'YdestreetB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/YdestreetB.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}




    
*{
	
    font-weight: bold;
    font-style: normal;
    margin: 0;
    padding: 0;
    
    
}

body{
	background-color: #d9d9d9;
}

/* 자동차에 대해 알려줄게 글씨 */
#containerTitle{
	margin: 0 auto;
	width: 100%;   
    height: 94px;
    font-family: "YdestreetB";
    
    font-size: 40px;
    background-color: #1c1b1b;
    color: white;
}

#TitleLeft{
	color: white; 
	float: left;
	margin: 0 0 0 10px;
	padding: 20px 180px ;
}
#TitleLeft a:hover , #TitleLeft a:link,  #TitleLeft a:active, #TitleLeft a:visited {
	text-decoration: none;
	color: white;
}
/* 로그인 | 회원가입 | Q&A페이지 */
#TitleRight{
	color: white;
	float:right;
	margin: 0 170px 10px 0;	
	padding: 20px;
	font-family: 'YdestreetB';

}
/* 로그인 | 회원가입 | Q&A페이지 링크 설정 */
#TitleRight a:hover , #TitleRight a:link,  #TitleRight a:active, #TitleRight a:visited {
	text-decoration: none;
	color: white;
}

/*---------------컨테이너-----------------*/
#container{
	clear:both;
	width: 100%;
	height: 100%;
	text-align: center;
}


img{
	width: 55%;
	height: 850px;
	
}


#carspec{
	height: 850px;
	width: 100%;
}

.car_text{
	font-size: 30px;
	border: 3px solid #fff;
	width: 600px;
	text-align:left;
	height:850px;
	line-height: 2.5;
	box-shadow:0 0 3px #ff8080; 
	font-family:맑은고딕;
	display: inline-block;
	vertical-align: top;
}	

h1{
	text-align: center;
	vertical-align: middle;
    
}	



	
	


#carspec2{
	height: 850px;
	width: 100%;
}
.car_text2{
	font-size: 30px;
	box-shadow:0 0 3px #ff8080;
	width: 600px;
	height: 850px;
	line-height: 2;
	text-align: left;
	border: 3px solid #fff;
	display: inline-block;
}


.gif{
	width: 100%;
	
}

/* footer  */
footer{
	clear:both;
	width:100%;
	height: 200px;
	color:white;
    background-color: #1c1b1b;
}
/* GitLink*/
.gitLink{
	font-family: 'YdestreetB';
	font-size:30px;
	color: white;
}
.gitLink:hover, .gitLink:link , .gitLink:active , .gitLink:visited{
	text-decoration: none;
}



/* footerURL  */
#footerURL{
	text-align:center;
	padding-top: 60px;
}

.car_name{
	border-bottom: 2px #ffffff solid;
	width: 1000px;
	margin: 50px auto;
	font-size: 50px;
	padding-bottom: 30px;
}

#car_content{
  margin: 20px auto;
  width: 1000px;
  text-align: left;
  font-size: 20px;
  font-family: 맑은 고딕;
}    





