@charset "UTF-8";


a{ color: black; text-decoration: none; } /* 하이퍼링크 기본값제거 */

*:focus{  outline: none;  } /* 커서(포커스) 가 있을경우 테두리 제거 */

.main_signup{ /* 전체 레이아웃 */
	width: 460px;
	margin: 0 auto;	/* 가운데정렬*/
	text-align: center;
}


h3{ text-align: left; font-size: 14px; font-family:'돋움'; }

.signup_input{
	display: block;
	height : 48px;
	padding: 0px ;
	border: solid 1px #cccccc;
	background-color: #ffffff;
}
#signup_id , #signup_pw , #signup_rpw{
	height: 30px;	/* 높이길이 */
	border: none; /*테두리 제거 */
	width: 100%;	/* 가로길이 */
}


/* ------------------이름 , 이메일 , 휴대전화 ---------------------*/
#signup_name , #signup_email , 
#signup_country ,#signup_phone , #signup_num{
	width: 100%; height: 30px; border: none;
}


.signup_input_birth{
	display : block; width: 100%; height: 50px;
	background-color: #ffffff;
	box-sizing: border-box;
	padding: 10px;
	border: solid 1px #dadada;
}
#signup_birth_yy , #signup_birth_mm , #signup_birth_dd{
	width: 120px; height: 30px; border: none; 
}
.choice{
	display: flex;
}
.choice span{
	font-size: 13px;
	font-family: '돋움';
	margin-top: 15px;
	color: #8e8e8e;
}
/* ------------------ 휴대 전화 ---------------------*/
.phonebox{ /* 전호번호 입력 , 인증번호 버튼 -> 가로 배치  */
	display: flex;
	margin: 10px 0px;
}
.phoneinput{
	width: 100%;
}
.signup_btn{ /* 인증번호 받기 박스 */ 
	height: 52px;
	background-color: #000000;
	margin: 2px 0 0 10px;
	line-height: 50px;
}
#num_btn{ /* 인증번호 버튼 */ 
	width: 110px;
	background-color: #000000;
	border: none; color: white;
	font-size: 15px;
}

.signup_btn_wrap{  /* 가입하기 박스 */
	margin-top : 20px; margin-bottom : 30px;
	height: 52px;
	background-color: #000000;
	line-height: 50px;
}
#signup_btn{  /* 가입하기 버튼 */
	width: 100%;
	background-color: #000000;
	border: none; color:  #ffffff;
	font-size: 18px;
}
#disabledbox{
	background-color: gray;
}

.ft_box{
	font-size: 10px;
}
a:hover {
	color: #03c75a;
}




#footerURL{
	text-align:center;
	padding-top: 180px;
};