@charset "UTF-8";
/* Y이드스트릿체 */
@font-face {
    font-family: 'YdestreetB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/YdestreetB.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/*  전체 */
* {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow-x: hidden
}
/* 바디  */
body{
   background-color: #d9d9d9;
   
}
/* ----------------------container-------------------*/
/* div 에서 container */
#container{
   width: 100%;
   height: 100%;
}


/*------------------헤더----------------------*/

/* 전기차에 대해 알려줄게 글씨 */
#containerTitle{
	margin: 0 auto;
	width: 100%;   
    height: 94px;
    font-family: "YdestreetB";
    font-size: 40px;
    background-color: #1c1b1b;
    color: white;
}

#TitleLeft{
	color: white; 
	float: left;
	margin: 0 0 0 10px;
	padding: 20px 180px ;
}
#TitleLeft a:hover , #TitleLeft a:link,  #TitleLeft a:active, #TitleLeft a:visited {
	text-decoration: none;
	color: white;
}
/* 로그인 | 회원가입 | Q&A페이지 */
#TitleRight{
	color: white;
	margin: 10px 0 0 1310px	;
	padding: 20px;
	font-size : 30px;
	width: 424px;

}
/* 로그인 | 회원가입 | Q&A페이지 링크 설정 시작*/
#TitleRight a:hover , #TitleRight a:link,  #TitleRight a:active, #TitleRight a:visited {
	text-decoration: none;
	color: white;
}
/* 로그인 | 회원가입 | Q&A페이지 링크 설정 끝*/


#IONICTitle{
	margin: 0 0 0 800px;
	font-family: 'YdestreetB';
	font-weight: bold;
	font-size: 50px;
}


img{ 
	width: 100%;
	height: 100%;
}



/* footer  */
footer{
	clear: left;
	margin: 0 0 0 0 ; /* footer 200px정도로 하면 된다.  */
	width:100%;
	height: 200px;
	color:white;
    background-color: #1c1b1b;
}
/* GitLink*/
.gitLink{
	font-family: 'YdestreetB';
	font-size:30px;
	color: white;
}
.gitLink:hover, .gitLink:link , .gitLink:active , .gitLink:visited{
	text-decoration: none;
}



/* footerURL  */
#footerURL{
	margin: 0 auto;
	text-align:center;
	padding: 60px 0 0 0;
	overflow-y: hidden;
	text-align: center;
}
